.form{
    .noteContent, .location{
        background-color: rgba(255, 255, 255, 0);
        border: none;   
        border-bottom: solid 2px ;
        border-color: aliceblue;
        @include noteText

    }
    .done{
        background-color: rgba(255, 255, 255, 0);
        border: none;   
    }
    .chulo{
        @include icon;
        font-size: 1.5rem;
    }
}